.navbar-brand {
	padding-top: 12px;
}

.tabela{
	margin-left: 10px;
	margin-right: 10px;
}

.card{
	margin-left: 10px;
	margin-right: 10px;
}

.alert {
	margin-left: 10px;
	margin-right: 10px;
}

a:hover { 
  cursor: pointer;
}