<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Produto</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap-superhero.min.css" />
<link rel="stylesheet" type="text/css" href="/css/all.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">UFPR</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					href="http://localhost:8080/clientes">Cadastro de Cliente
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><a class="nav-link"
					href="http://localhost:8080/produtos">Cadastro de Produto</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="http://localhost:8080/pedidos">Cadastro
						de Pedido</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Lista de
						Pedidos</a></li>
			</ul>
		</div>
	</nav>
	<br />
	<form class="form-group" method="POST" action="/produtos"
		th:object="${produto}">
		<div class="alert alert-success alert-dismissible"
			th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-danger alert-dismissible"
			th:if="${#fields.hasAnyErrors()}">
			<div th:each="detailedError : ${#fields.detailedErrors()}">
				<span th:text="${detailedError.message}"></span>
			</div>

			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="card">
			<div class="card-header">
				<h4 class="panel-title">Cadastro de Produto</h4>
			</div>

			<input type="hidden" th:field="*{id}" />

			<div class="card-body">
				<div class="form-group"
					th:classappend="${#fields.hasErrors('descricao')} ? invalid">
					<label for="descricao" class="col-sm-2 control-label">Descrição</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="descricao"
							th:field="*{descricao}" required />
					</div>
				</div>
				

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="table-responsive">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center">#</th>
					<th class="text-center">Descrição</th>
					<th class="text-center">Ação</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto : ${produtos}">
					<td class="text-center" th:text="${produto.id}"></td>
					<td th:text="${produto.descricao}"></td>
					

					<td class="text-center"><a class="btn btn-warning"
						th:href="@{/produtos/{id}(id=${produto.id})}"> <span>Editar</span>
					</a> <a class="btn btn-danger" data-toggle="modal"
						data-target="#confirmacaoExclusaoModal"
						th:attr="data-id=${produto.id}, data-nome=${produto.descricao}"> <span>Excluir</span>
					</a></td>
				</tr>
				<tr>
					<td colspan="6" th:if="${#lists.isEmpty(produtos)}">Nenhum
						produto foi encontrado</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="modal fade" id="confirmacaoExclusaoProdutoModal" tabindex="-1"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<form th:attr="data-url-base='/produtos'" method="POST">
				<input type="hidden" name="_method" value="DELETE" />

				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Você tem certeza?</h4>
					</div>

					<div class="modal-body">
						<span>Tem certeza que deseja apagar o título?</span>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary">Excluir</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/trabalhoWeb.js"></script>
</body>
</html>