<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Cliente</title>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<!-- <link rel="stylesheet" type="text/css" -->
<!-- 	href="/css/dataTables.bootstrap4.min.css" /> -->
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap-superhero.min.css" />
<link rel="stylesheet" type="text/css" href="/css/all.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
<body>

	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	<br />
	<div class="card col-sm" th:each="pedido : ${pedidos}">

			<div class="card-header">
				<div class="row">
					<h4 class="panel-title">Pedido</h4>
				</div>
			</div>
			<div class="card-body">
				Cliente: <span th:text="${pedido.cliente}"></span>
				<hr />
				Produtos: <br />
				<table id="tabelaProdutosCadastroPedido2"
					class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<!-- 									<th class="text-center col-md-1">#</th> -->
							<th class="text-center col-md-6">Descrição</th>
							<th class="col-md-2">Qtd</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="itemDoPedido, itemStat : *{listItens}">

							<!-- 									<td class="text-center" th:text="${itemDoPedido.produto.id}"></td> -->
							<td th:text="${itemDoPedido.getProduto().getDescricao()}"><input
								type="hidden"
								th:field="*{listItens[__${itemStat.index}__].produto.id}"
								th:value="${listItens[__${itemStat.index}__].produto.id}"
								th:id="${listItens[__${itemStat.index}__].produto.id}" /></td>
							<td th:text="${itemDoPedido.quantidade}"><input type="hidden"
								th:field="*{listItens[__${itemStat.index}__].quantidade}"
								 class="" /></td>
						</tr>
					</tbody>
				</table>
			</div>
	</div>


	<div th:replace="fragmentos/fragmentos :: footer"></div>
	<script src="/js/cadastroCliente.js"></script>

</body>
</html>